<footer class="d-flex flex-wrap justify-content-around">
    <div class="footer-item nunito d-flex flex-column">
        <h3 style="margin-bottom: 1rem; font-weight: bold;">Servicios</h3>
        <p><a href="#">Mi cuenta</a></p>
        <p><a href="#">Servicio Técnico</a></p>
        <p><a href="#">Nuestros Servicios</a></p>
        <p><a style="font-weight: bold;" href="#">Sigue tu compra</a></p>
    </div>
    <div class="footer-item nunito d-flex flex-column">
        <h3 style="margin-bottom: 1rem; font-weight: bold;">Nosotros</h3>
        <p><a href="#">Acerca de Ferme</a></p>
        <p><a href="#">Consejos e Inspiración</a></p>
        <p><a href="#">Código de Ética</a></p>
        <p><a href="#">Contáctanos</a></p>
    </div>
    <div class="footer-item nunito d-flex flex-column">
        <h3 style="margin-bottom: 1rem; font-weight: bold;">Horario Atención</h3>
        <p>Lunes a Viernes: 08:30 a 22:00 hrs.</p>
        <p>Sábado: 09:00 a 20:00 hrs.</p>
        <p>Domingo: 09:00 a 16:00 hrs.</p>
        <p>Festivos: CERRADO</p>
    </div>
    <div class=" footer-item nunito d-flex flex-column">
        <h3 style="margin-bottom: 1rem; font-weight: bold;">
            Suscríbete y recibe nuestras ofertas
        </h3>
        <div class="form-inline">
            <input class="form-control col-lg-8 mb-2" type="email" placeholder="tucorreo@mail.com">
            <button id="suscribte-btn" class="btn btn-primary mb-2"
                style="margin-left: 1rem;">
                <strong>Suscríbete</strong>
            </button>
        </div>
        <h4 style="margin-top: 1rem;">Venta Telefónica</h4>
        <h2 style="font-weight: bold;">600 600 3279</h2>
        <h4 style="margin-top: 1rem;">Servicio al Cliente</h4>
        <h2 style="font-weight: bold;">600 600 3010</h2>
        <div class="redes">
            <div style="display:inline;">
                <a href="#">
                    <i class="fab fa-facebook-square fa-5x p-2 " data-toggle="tooltip"
                    data-placement="top" title="www.facebook.com/ferme"></i>
                </a>
            </div>
            <div style="display:inline;">
                <a href="#">
                    <i data-toggle="tooltip" data-placement="top"
                    title="www.instagram.com/ferme_cl" class="fab fa-instagram fa-5x p-2 "></i>
                </a>

            </div>
            <div style="display:inline;">
                <a href="#">
                    <i data-toggle="tooltip"
                    data-placement="top" title="www.twitter.com/ferme" class="fab fa-twitter-square fa-5x p-2 "></i>
                </a>
            </div>
        </div>
    </div>
    <!-- Hay que agregar las demas cosas -->
</footer>
