<header class="header d-flex flex-wrap justify-content-between">
    <!-- logo y link al home -->
    <div class="logo-type">
        <a href="/">
            <span>FERME</span>
        </a>
    </div>
    <!-- Buscador -->
    <form class="form-busqueda col-lg-4" action="{% url 'catalogo' %}" method="GET">
        <div class="input-group barra-busqueda">
            <div class="input-group-prepend">
                <button class="btn btn-warning" type="submit">
                <span class="fas fa-search"></span>
                </button>
            </div>
            <input name="busqueda" type="text" class="form-control border border-warning"
            placeholder="¿Qué buscas?" aria-label="" aria-describedby="basic-addon1">
        </div>
    </form>
    <!-- Botones Acciones -->
    <div class="botones-header d-flex flex-wrap">
        {% if user.is_authenticated %}
            <a class="link-header" href="{% url 'logout_cliente' %}">
                <div style="display: inline-flex;">
                    <i class="icon-header fas fa-sign-out-alt"></i>
                    <div class="texto-boton nunito-bold">Cerrar <br> Sesión</div>
                </div>
            </a>
            <a class="link-header" href="{% url 'mis_ordenes' %}">
                <div style="display: inline-flex;">
                    <i class="icon-header fas fa-shopping-bag"></i>
                    <span class="texto-boton nunito-bold">Mis <br> Ordenes</span>
                </div>
            </a>
            <a class="link-header" href="{% url 'carro' %}">
                <div style="display: inline-flex;">
                    <i class="icon-header fas fa-shopping-cart"></i>
                    <span class="texto-boton nunito-bold">Carro de <br> Compras</span>
                </div>
            </a>
        {% else %}

            <a class="link-header" href="{% url 'login_cliente' %}">
                <div style="display: inline-flex;">
                    <i class="icon-header fas fa-user"></i>
                    <div class="texto-boton nunito-bold">Inicia <br> Sesión</div>
                </div>
            </a>
        {% endif %}
    </div>
</header>
