<ul class="nav nunito-bold justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#!">Ferretería</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#!">Herramientas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#!">Maquinaria</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#!">Construcción</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#!">Maquinaria</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#!">Iluminación y Electridad</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#!">Automóviles</a>
  </li>
</ul>
