<ul class="nav nunito-bold justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'categoria' 101 %}">Construcci&oacute;n</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'categoria' 102 %}">Herramientas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'categoria' 103 %}">Maquinaria</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'categoria' 104 %}">Piso y Pared</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'categoria' 105 %}">Baño y Cocina</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'categoria' 106 %}">Iluminaci&oacute;n y Electridad</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'categoria' 107 %}">Autom&oacute;viles</a>
  </li>
</ul>
