{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!--Bootstrap con Jquery -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
        <script src="{% static 'js/jquery-ui.js' %}"></script>
        <script src="{% static 'js/datepicker-es.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        {% block custom_headers %}
        {% endblock %}
        <link rel="icon" type="image/png" href="{% static 'favicon.png' %}"/>
        <!--CSS propio-->
        <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
        <title>FERME {% block titulo %}{% endblock titulo %}</title>
        <!-- Font awesome -->
        <script src="{% static 'fontawesome/js/all.js' %}"></script>
    </head>
    <body>
        <!-- Header -->
        {% include "tienda/components/header.html" %}
        <!-- Navbar -->
        {% include "tienda/components/navbar.html" %}
        <div id="contenedor">
            <div id="main">
                {% block content %}

                {% endblock content %}
            </div>
        </div>
        {% include "tienda/components/footer.html" %}

        <script>
            $(function(){
              $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
    </body>
</html>
