{% extends 'tienda/base.html' %}
{% load static %}
{% block content %}

    <div class="sub-contenedor d-flex flex-wrap justify-content-center">
        <div id="detalle-producto" class="d-flex flex-wrap justify-content-center">
            <div class="card ml-4 mt-3" style="border-style: solid; border-width: 1px; border-color: var(--yellow);">
                <div class="card-body">
                    <div class="">
                        <img class="img-fluid rounded m-2" src="{% static producto.url_img %}" alt="cover" width="240" height="330">
                    </div>
                </div>
            </div>
            <div class="card ml-4 mt-3 " style="border-style: solid; border-width: 1px; border-color: var(--yellow);">
                <div class="card-body d-flex flex-column m-3">
                    <div class="">
                        <h4 class="titulo-detalle ml-3 mb-3"><strong>{{ producto.nombre }}</strong></h4>
                        <div class="p-detalle ml-3 d-flex d-inline-block">
                            <label><strong>Marca:</strong></label>
                            <p class="ml-3">{{ producto.marca }}</p>
                        </div>
                        <div class="p-detalle ml-3 d-flex d-inline-block">
                            <label><strong>SKU:</strong></label>
                            <p class="ml-3">{{ producto.sku }}</p>
                        </div>
                        <div class="p-detalle ml-3 d-flex d-inline-block">
                            <p style="color: var(--blue); font-size: 16pt; font-weight: bold;">${{ producto.precio_front }} C/U</p>
                        </div>

                        {% if producto.stock > producto.stock_critico %}
                            <span class="ml-3 badge badge-info">Muchas unidades en stock</span>
                        {% elif producto.stock == producto.stock_critico %}
                            <span class="ml-3 badge badge-warning">Pocas unidades en stock</span>
                        {% elif producto.stock < producto.stock_critico and producto.stock != 0 %}
                            <span class="ml-3 badge badge-danger">Confirmar stock en tienda</span>
                        {% elif producto.stock == 0 %}
                            <span class="ml-3 badge badge-secondary">Producto agotado</span>
                        {% endif %}
                    </div>

                    <div class="mt-4">
                        <form class="form-inline" method="GET" action="{% url 'agregar_carro' producto.producto_id %}">
                            <div class="form-group">
                                <input name="cantidad" type="number" value="1" class="form-control mt-2 ml-3" 
                                    {% if producto.stock == 0 %} disabled {% endif %}>
                                <button type="submit" class="btn btn-danger mt-2 ml-3" 
                                    {% if producto.stock == 0 %} disabled {% endif %}>
                                    <span class="mr-2"><i class="fas fa-cart-plus"></i></span>
                                    Agregar al carro de compras
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex mx-3 justify-content-center">
        <div class="col-md-7 card ml-4" style="border-style: solid; border-width: 1px; border-color: var(--yellow);">
            <div class="card-body">
                <div class="p-detalle mx-3 my-3 d-flex d-inline-block">
                    <label><strong>Color:</strong></label>
                    {% if producto.color %}
                        <p class="ml-3">{{ producto.color }}</p>
                    {% else %}
                        <p class="ml-3">N/A</p>
                    {% endif %}
                </div>
                <div class="p-detalle mx-3 d-flex d-inline-block">
                        <label><strong>Descripción:</strong></label>
                        <p class="ml-3">{{ producto.descripcion }}</p>
                 </div>

            </div>
        </div>
    </div>
{% endblock content %}
