{% extends 'tienda/base.html' %}
{% load static %}
{% load tienda_extras %}

{% block content %}
 <script>
    $(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
    function checkRadio(control){
        document.getElementById(control).checked = true;
    }
</script>

<h3 class="p-2 form__radio-group-title">
    Elige un medio de pago
</h3>
<div class="container">    
    <div class="d-flex flex-wrap">        
        <div class="resumen-compra">
            <div class="card">
              <div class="card-header">
                  <div class="logo-type">
                      FERME
                  </div>
              </div>
              <div class="card-body">
                RUT Receptor: {{ despacho.rut_receptor }} <br>
                Dirección: {{ despacho.direccion }} <br>
                <table class="table table-responsive">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Item</th>
                      <th>Cantidad</th>
                      <th>Precio</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in items %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>{{ item.producto.nombre }} </td>
                          <td>{{ item.cantidad }}</td>
                          <td>${{ item.producto.precio_normal|formatear_miles }}</td>
                          <td>${{ item.cantidad|multiplicar_y_formatear:item.producto.precio_normal }}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <h3>TOTAL: ${{ compra.monto_total|formatear_miles }}</h3>
              </div>
            </div>
        </div>
        <div class="formulario-pago"> 
            <div class="card p-4">
                <form accept-charset="UTF-8" action="{% url 'pago' despacho.id %}" role="form" id="pago" method="post" name="pago"> 
                {% csrf_token %}
                
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radioDebito" name="radiosPago" value="debito" checked>
                    <label class="form-check-label" for="radioDebito">Tarjeta Débito </label>
                </div>
                <img alt="webpay-tarjeta debito" src="{% static 'img/webpay/03_Webpay.cl-800px.png' %}" width="100%" height="auto" onclick="checkRadio('radioDebito')">
                
                
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radioCredito" name="radiosPago" value="credito">
                    <label class="form-check-label" for="radioCredito">Tarjeta Crédito</label>
                </div>
                <img alt="tarjeta-credito" src="{% static 'img/webpay/04_Logo_tarjetas-800px.png' %}" width="100%" height="auto" onclick="checkRadio('radioCredito')">

                <button type="submit" class="btn btn-primary btn-block" id="btn-olvidado">
                    Pagar
                </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
