{% extends 'tienda/base.html' %}
{% load static %}
  
{% block content %}         
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h4 style="border-bottom: 1px solid #c5c5c5;">
                    <i class="glyphicon glyphicon-user">
                    </i>
                    <br>
                    <br>
                    <br>
                    Recuperar Contraseña
                </h4>
                <div style="padding: 20px;" id="form-olvidado">
                    <h4 class="">
                        ¿Olvidaste tu contraseña?
                    </h4>
                    <form accept-charset="UTF-8" action="{% url 'recuperar_contrasena_cliente' %}" role="form" id="login-recordar" method="post">
                        {% csrf_token %}
                        <fieldset>
                            <span class="help-block">
                                Ingrese su email que utiliza para iniciar sesión en su cuenta
                                <br>
                                &nbsp; &nbsp;Le enviaremos un correo electrónico con su contraseña.
                            </span>
                            <div class="form-group input-group">
                                <input type="text" class="form-control" name="email" placeholder="Email">
                            </div>

                            <button type="submit" class="btn btn-primary btn-block" id="btn-olvidado">
                                Continue
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
 {% endblock content %}
