{% extends 'tienda/admin/base.html' %}

{% block proveedores_active %} active {% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="card mt-3">
            <div class="card-body">
                <p>¿Estás seguro de querer aliminar al proveedor {{ proveedor.razon_social }}"?</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    <a class="btn boton-admin-cancelar" href="{% url 'cancelar_proveedor' %}">Cancelar</a>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
