@import url('https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

/* Global*/
html, body {
    height: 100%;
}

/* Colores */
:root {
    --blue: #1f50a5;
    --yellow: #ffd800;
    --dark: #4c5b5c;
    --light: #f2f4f7;
    --accent_1: #ff5964;
    --accent_2: #25ced1;
}


/* Fuentes */

.hepta {
    font-family: 'Hepta Slab', serif;
}

.hepta-bold {
    font-family: 'Hepta Slab', serif;
    font-weight: bold;
}

.nunito {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}

.nunito-bold {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.changa-bold{
    font-family: 'Changa One', cursive;
    font-size: 60px;
    font-weight: bold;
}

.logo-type{
    color: #1F50A5;
    font-family: 'Changa One', cursive;
    font-size: 60px;
    font-weight: bold;
}

/* Header */
