{% extends 'tienda/admin/base.html' %}

{% block oc_active %} active {% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="card mt-3">
            <div class="card-body">
                <p>¿Estás seguro de querer eliminar {{item.cantidad}} pieza{{ item.cantidad|pluralize:"s" }} de "{{item.producto}}" de la orden {{orden.id}}?</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    <a class="btn boton-admin-cancelar" href="{% url 'cancelar_item' orden.id %}">Cancelar</a>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
