{% extends 'tienda/admin/panel_admin.html' %}
{% load static %}
{% block oc_active %} active {% endblock %}
{% block titulo_panel %}
	Gestión de Órdenes de Compra
{% endblock %}

{% block filtro_1 %}
    <div class="filtro-ordenes-admin mb-2 ml-3">
        <h6>Fecha:</h6>
        <input type="date" class="form-control" name="fecha">
    </div>
{% endblock %}

{% block filtro_2 %}
    <div class="filtro-ordenes-admin mb-2 ml-3">
        <h6>Proveedor:</h6>
        <select name="proveedor" class="form-control" >
            <option value="0">(seleccione un proveedor)</option>
            {% for proveedor in proveedores %}
                <option value="{{ proveedor.id }}">
                    {{ proveedor.razon_social }}
                </option>
            {% endfor %}
        </select>
    </div>
{% endblock %}

{% block filtro_3 %}
    <div class="filtro-ordenes-admin mb-2 ml-3">
        <h6>Estado:</h6>
        <select class="form-control" name="estado">
            <option value="0">(seleccione un estado)</option>
            <option value="1">RECIBIDA</option>
            <option value="2">PENDIENTE</option>
            <option value="3">ANULADA</option>
            <option value="4">ENVIADA</option>
        </select>
    </div>
{% endblock %}

{% block headers_tabla %}
    <thead class="thead-light">
        <tr>
            <th class="header-tabla">ID</th>
            <th class="header-tabla">FECHA RECEPCION</th>
            <th class="header-tabla">ESTADO</th>
            <th class="header-tabla">PROVEEDOR</th>
        </tr>
    </thead>
{% endblock %}

{% block filas_tabla %}
    <th scope="row">{{ clase_administrada.id }}</th>
    <th >{{ clase_administrada.fecha_recepcion }}</th>
    <th >{{ clase_administrada.estado }}</th>
    <th >{{ clase_administrada.proveedor }}</th>
{% endblock %}

{% block botones_administracion %}
    <a href="{% url 'actualizar_orden' clase_administrada.id %}" class="btn btn-warning"
        data-toggle="tooltip"
        data-placement="top" title="Modificar Orden">
        <i class="fas fa-pen"></i>
    </a>
    <a href="{% url 'eliminar_orden' clase_administrada.id %}" class="btn btn-danger ml-2"
        data-toggle="tooltip"
        data-placement="top" title="Eliminar Orden">
        <i class="fas fa-trash"></i>
    </a>
{% endblock %}