{% extends 'tienda/admin/base.html' %}
{% load static %}
{% block clientes_active %} active {% endblock clientes_active %}
{% block content %}
<div class="sub-contenedor d-flex justify-content-center">
    <!-- Acordion -->
    <div id="accordion" role="tablist" class="col-lg-7">
        <div class="card tarjeta">
            <div class="card-header tarjeta-header d-flex justify-content-between" role="tab" id="headingOne">
                <h4><strong>Gestión de Clientes</strong></h4>
                <a class="collapsed" data-toggle="collapse" href="#clientes" aria-expanded="true" aria-controls="clientes">
                    <i class="icon fas fa-chevron-down"></i>
                </a>
            </div>
            <div id="productos" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body">
                    <!-- ====== CONTENIDO ====== -->
                    {% include "tienda/components/messages.html" %}

                    <div class="d-flex justify-content-between">
                        <!-- Filtros -->
                        <form action="{% url 'obtener_clientes_admin' %}" method="GET" class="form-inline" style="display: inline-flex; align-items: flex-end;">
                            <div class="filtro-producto-admin mb-2">
                                <h6>Run:</h6>
                                <input type="text" class="form-control" name="run">
                            </div>

                            <div class="filtro-producto-admin mb-2">
                                <h6>Apellido paterno:</h6>
                                <input type="text" class="form-control" name="appaterno">
                            </div>

                            <div class="filtro-producto-admin mb-2 ml-3">
                                <h6>Genero:</h6>
                                <input type="text" class="form-control" name="genero">
                            </div>


                            <button type="submit" class="btn boton-admin-primary mb-2 ml-3" >Buscar</button>
                        </form>
                        <!-- Agregar producto -->
                        <div class="mb-2" style="display: inline-flex; align-items: flex-end;">
                            <a href="{% url 'agregar_clientes_admin' %}" class="btn btn-success">
                                <i class="fas fa-plus mr-2"></i>
                                <span>Agregar nuevo cliente</span>
                            </a>
                        </div>
                    </div>
                    <!-- Tabla -->
                    <table id="clientesAdmin" class="table table-responsive table-hover table-bordered my-3">
                        <thead class="thead-light">
                            <tr>
                                <th class="header-tabla">Id</th>
                                <th class="header-tabla">Run</th>
                                <th class="header-tabla">Nombres</th>
                                <th class="header-tabla">Paterno</th>
                                <th class="header-tabla">Materno</th>
                                <th class="header-tabla">Fecha Nac</th>
                                <th class="header-tabla">Genero</th>
                                <th class="header-tabla">Email</th>
                                <th class="header-tabla">Telefono</th>
                                <th class="header-tabla">Nom Usuario</th>
                                <th class="header-tabla">Contraseña</th>
                                <th class="header-tabla">Dirección</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cliente in cliente %}
                            <tr>
                                <th scope="row">{{ cliente.usuario_id }}</th>
                                <td>{{ cliente.run }}</td>
                                <td>{{ cliente.nombres }}</td>
                                <td>{{ cliente.appaterno }}</td>
                                <td>{{ cliente.apmaterno }}</td>
                                <td>{{ cliente.fecha_nacimiento }}</td>
                                <td>{{ cliente.genero }}</td>
                                <td>{{ cliente.email }}</td>
                                <td>{{ cliente.telefono }}</td>
                                <td>{{ cliente.nombre_usuario }}</td>
                                <td>{{ cliente.contrasena }}</td>
                                <td>{{ cliente.direccion }}</td>
                                <td>
                                    <div class="d-flex flex-row">
                                        <a href="{% url 'actualizar_clientes_admin' cliente.usuario_id %}" class="btn btn-warning"
                                            data-toggle="tooltip"
                                            data-placement="top" title="Modificar cliente">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                        <a href="{% url 'eliminar_cliente_admin' cliente.usuario_id %}" class="btn btn-danger ml-2"
                                            data-toggle="tooltip"
                                            data-placement="top" title="Eliminar cliente">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
