{% extends 'tienda/admin/base.html' %}

{% load static %}
{% block titulo %} INICIO {% endblock titulo %}
{% block inicio_active %} active {% endblock inicio_active %}

{% block content %}
{% include 'tienda/components/messages.html' %}
<div class="d-flex justify-content-center">
    <div class="card bg-light my-3 nunito" style="max-width: 500px; ">
      <div class="card-header">Bienvenido/a, {{ usuario.nombres }} {{ usuario.appaterno }} ({{ rol }})</div>
      <div class="card-body">
        <h5 class="card-title">Sistema de Gestión Ferretería Ferme</h5>
        <p class="card-text">Aquí podrás editar todas los modulos del sistema</p>
      </div>
    </div>
</div>

{% endblock content %}
