{% extends 'tienda/admin/base.html' %}
{% load static %}
{% block content %}
    <div class="sub-contenedor d-flex justify-content-center">
        <!-- Acordion -->
        <div id="accordion" role="tablist" class="col-lg-7">
            <div class="card tarjeta">
                <div class="card-header tarjeta-header d-flex justify-content-between" role="tab" id="headingOne">
                    <h4><strong>{% block titulo_panel %}{% endblock %}</strong></h4>
                    <a class="collapsed" data-toggle="collapse" href="#{{ clase_administrada }}" aria-expanded="true" aria-controls="{{ clase_administrada }}">
                        <i class="icon fas fa-chevron-down"></i>
                    </a>
                </div>
                <div id="{{ clase_administrada }}" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-body">
                        <!-- ====== CONTENIDO ====== -->
                        {% include "tienda/components/messages.html" %}

                        <div class="d-flex justify-content-between">
                            <!-- Filtros -->
                            <form action="{% url 'obtener_productos' %}" method="GET" class="form-inline" style="display: inline-flex; align-items: flex-end;">
                                <div class="filtro-producto-admin mb-2 ml-3">
                                    <h6>Nombre:</h6>
                                    <input type="text" class="form-control" name="nombre">
                                </div>

                                <div class="filtro-producto-admin mb-2 ml-3">
                                    <h6>Marca:</h6>
                                    <select name="marca" class="form-control" >
                                        <option value="0">----------------</option>
                                        {% for marca in marcas %}
                                            <option value="{{ marca.id }}">
                                                {{ marca.nombre }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="filtro-producto-admin mb-2 ml-3">
                                    <h6>SKU:</h6>
                                    <input type="text" class="form-control" name="sku">
                                </div>

                                <button type="submit" class="btn boton-admin-primary mb-2 ml-3" >
                                    <span><i class="fas fa-search"></i></span>
                                    Buscar
                                </button>
                            </form>
                            <!-- Agregar producto -->
                            <div class="mb-2" style="display: inline-flex; align-items: flex-end;">
                                <a href="{% url 'agregar_producto' %}" class="btn btn-success">
                                    <span class="mr-1"><i class="fas fa-plus-circle"></i></i></span>
                                    Agregar nuevo producto
                                </a>
                            </div>
                        </div>
                        <!-- Tabla -->
                        <table id="{{ clase_administrada }}Admin" class="table table-responsive table-hover table-bordered my-3">
                            {% block headers_tabla %}
                            {% endblock %}
                            <tbody>
                                {% for clase_administrada in coleccion %}
                                <tr>
                                    {% block filas_tabla %}
                                    {% endblock %}
                                    <td>                                        
                                        <div class="d-flex flex-row">
                                            {% block botones_administracion %}
                                            {% endblock %}
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}